header h1{
    text-align: center;
    color: rgb(77, 46, 7);
    font-size: 200%;
}
body{
    background-image: url("https://i.pinimg.com/originals/a6/1c/51/a61c51ae8f28a3b790713e0e52fc97ef.jpg");
}
#decor{
    background-color: rgb(133, 73, 73);
    text-transform: uppercase;
    font-weight: bold;

}
body p{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid rgb(28, 46, 28);
    padding: 50px;
    margin: 20px;
    text-align: center;
}
#firstlist{
    border: 15px solid rgb(61, 119, 61);
    padding: 50px;
    margin-right: 150px;
    margin-left: 80px;
}
.information{
    color: rgba(161, 54, 27, 0.678);
    font-size: 200%;
}
#secundlist{
    border: 15px solid rgb(61, 119, 61);
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
}
#final{
    border: 15px solid rgb(61, 119, 61);
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
}
#ulist {
    border: 15px solid rgb(41, 46, 28);
    padding: 50px;
    margin: 20px;
    border-style: dotted;
    border-width: thick;
}