/*footer ul li {
    width: 80px;
    height:20px;
    border-radius: 30%;

}
*/
header h1{
    /*font-family: Arial, Helvetica, sans-serif;*/
    text-align: center;
    color: rgb(77, 46, 7);
    font-size: 200%;
}
body{
    background-image: url("https://i.pinimg.com/originals/a6/1c/51/a61c51ae8f28a3b790713e0e52fc97ef.jpg");
}
#decor{
    background-color: rgb(133, 73, 73);
    text-transform: uppercase;
    font-weight: bold;

}
body p{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid rgb(28, 46, 28);
    padding: 50px;
    margin: 20px;
    text-align: center;
}
#information{
    list-style-type: none;
    color: rgb(6, 6, 41);
}
main nav{
    border: 15px solid rgb(61, 119, 61);
    padding: 50px;
    margin: 20px;
    
}
main nav ul {
    border: 15px solid rgb(41, 46, 28);
    padding: 50px;
    margin: 20px;

}
nav h2 {
    font-size: 200%;
}